<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="message" value="男" name="sex" type="radio">男
        <input v-model="message" value="女" name="sex" type="radio">女
       <h2>您选择的是： {{message}}</h2>
    </div>
    <script>

        var app=new Vue({
             el:'#app',
            data:{
                message:'男'
            }
    
        });
    </script>
</body>
</html>